<%- include("partials/header") %>

<div class="playlist-song">

    <% playlistSongs.forEach(function(song) { %>
        <p><%= song.track.name %></p>
        <% }) %>

</div>


<%- include("partials/footer") %>