<%- include("partials/header") %>

        <li class="nav-item ms-2">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" href="/playlist">Playlists</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5 profile-container">
  <table cellspacing="30">
    <tr>
      <td style="padding: 30px; margin-right: 60px">
        <img
          src="https://talhakarakoyunlu.github.io/cv/images/talha%20profile%20picture.png"
          alt="Talha's Profile Picture"
          width="250"
          height="250"
        />
      </td>
      <td style="padding: 30px">
        <h1 style="color: #fff">Talha Bahadır Karakoyunlu</h1>
        <em>
          <p style="color: #e0e0e0">Administrator Profile Example</p>
          <p style="color: #e0e0e0">Since: April 11</p>
          <a href="/edit-profile" class="btn btn-outline-primary"
            >Edit Profile</a
          >
        </em>
      </td>
    </tr>
  </table>
</div>
<div class="logout-container">
  <button onclick="logout()" class="btn btn-primary btn-lg logout-button">LOG OUT</button>
</div>

<script>
  function logout() {
  const url = "https://www.spotify.com/logout/";
  const spotifyLogoutWindow = window.open(
    url,
    "Spotify Logout",
    "width=700,height=500,top=40,left=40"
  );
  setTimeout(() => {
    spotifyLogoutWindow.close();
    window.location.href = "/login";
  }, 2000);
}
</script>

<%- include("partials/footer") %>
