<%- include("partials/header") %>

<div class="search-results">

  <section id="search-top-result">
    <div class="container">
      <h2>Top Result</h2>
      <div class="search-top-result-item row align-items-center">
        <div class="col">
          <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Song Image">
        </div>
        <div class="col">
          <p> Top result type </p>
          <p> Top result name </p>
        </div>
      </div>
    </div>

  </section>
  
  <section id="search-songs" class="search-item-margin">
    <div class="container">
      <h2>Songs</h2>
      <div class="search-song-item row align-items-center">
        <div class="col">
          <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Song Image">
        </div>
        <div class="col">
          <p> Song name </p>
          <p> Song artist </p>
        </div>
      </div>
      <div class="search-song-item row align-items-center">
        <div class="col">
          <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Song Image">
        </div>
        <div class="col">
          <p> Song name </p>
          <p> Song artist </p>
        </div>
      </div>
      <div class="search-song-item row align-items-center">
        <div class="col">
          <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Song Image">
        </div>
        <div class="col">
          <p> Song name </p>
          <p> Song artist </p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="search-artists" class="search-item-margin">
    <h2>Artists</h2>
    <div class="search-artist-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Artist Image">
      </div>
      <div class="col">
        <p> Artist name </p>
        <p> Artist </p>
        <p> Followers </p>
      </div>
    </div>
    <div class="search-artist-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Artist Image">
      </div>
      <div class="col">
        <p> Artist name </p>
        <p> Artist </p>
        <p> Followers </p>
      </div>
    </div>
    <div class="search-artist-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Artist Image">
      </div>
      <div class="col">
        <p> Artist name </p>
        <p> Artist </p>
        <p> Followers </p>
      </div>
    </div>
  </section>
  
  
  
  <section id="search-albums" class="search-item-margin">
    <h2>Albums</h2>
    <div class="search-album-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Album Image">
      </div>
      <div class="col">
        <p> Album name </p>
        <p> Album year </p>
        <p> Artist </p>
      </div>
    </div>
    <div class="search-album-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Album Image">
      </div>
      <div class="col">
        <p> Album name </p>
        <p> Album year </p>
        <p> Artist </p>
      </div>
    </div>
    <div class="search-album-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Album Image">
      </div>
      <div class="col">
        <p> Album name </p>
        <p> Album year </p>
        <p> Artist </p>
      </div>
    </div>
  </section>
  
  
  
  <section id="search-playlists" class="search-item-margin">
    <h2>Playlists</h2>
    <div class="search-playlist-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Playlist Image">
      </div>
      <div class="col">
        <p> Playlist name </p>
        <p> Owner name </p>
      </div>
    </div>
    <div class="search-playlist-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Playlist Image">
      </div>
      <div class="col">
        <p> Playlist name </p>
        <p> Owner name </p>
      </div>
    </div>
    <div class="search-playlist-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Playlist Image">
      </div>
      <div class="col">
        <p> Playlist name </p>
        <p> Owner name </p>
      </div>
    </div>
  </section>
  
  
  
  <section id="search-podcasts" class="search-item-margin">
    <h2>Podcasts</h2>
    <div class="search-podcast-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Podcast Image">
      </div>
      <div class="col">
        <p> Podcast name </p>
        <p> Owner name </p>
      </div>
    </div>
    <div class="search-podcast-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Podcast Image">
      </div>
      <div class="col">
        <p> Podcast name </p>
        <p> Owner name </p>
      </div>
    </div>
    <div class="search-podcast-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Podcast Image">
      </div>
      <div class="col">
        <p> Podcast name </p>
        <p> Owner name </p>
      </div>
    </div>
  </section>
  
  
  <section id="search-episodes" class="search-item-margin">
    <h2>Episodes</h2>
    <div class="search-episode-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Episode Image">
      </div>
      <div class="col">
        <p> Episode publish year </p>
        <p> Episode time </p>
      </div>
    </div>
    <div class="search-episode-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Episode Image">
      </div>
      <div class="col">
        <p> Episode publish year </p>
        <p> Episode time </p>
      </div>
    </div>
    <div class="search-episode-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Episode Image">
      </div>
      <div class="col">
        <p> Episode publish year </p>
        <p> Episode time </p>
      </div>
    </div>
  </section>
  
  
  <section id="search-profiles" class="search-item-margin">
    <h2>Profiles</h2>
    <div class="search-profile-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Profile Image">
      </div>
      <div class="col">
        <p> Playlist count </p>
        <p> Following </p>
      </div>
    </div>
    <div class="search-profile-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Profile Image">
      </div>
      <div class="col">
        <p> Playlist count </p>
        <p> Following </p>
      </div>
    </div>
    <div class="search-profile-item row align-items-center">
      <div class="col">
        <img src="https://rehabconceptspt.com/wp-content/uploads/2016/06/placeholder-640-square.jpg" alt="Profile Image">
      </div>
      <div class="col">
        <p> Playlist count </p>
        <p> Following </p>
      </div>
    </div>
  </section>
  

<%- include("partials/footer") %>